{% extends 'base.html.twig' %}

{% block body %}
    <h1>Registration</h1>

    {{ form_start(form) }}

    {{ form_row(form.pseudo, {'attr': {'placeholder': 'Pseudo'}}) }}
    {{ form_row(form.email, {'attr': {'placeholder': 'Email adress'}}) }}
    {{ form_row(form.first_name, {'attr': {'placeholder': 'First name'}}) }}
    {{ form_row(form.last_name, {'attr': {'placeholder': 'First name'}}) }}
    {{ form_row(form.password, {'attr': {'placeholder': 'Password'}}) }}
    {{ form_row(form.confirm_password, {'attr': {'placeholder': 'Confirm password'}}) }}

    <button type="submit" class="btn btn-success">Register</button>
    {{ form_end(form) }}
{% endblock %}