{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <img src="{{ asset('img/snowboard.jpg') }}" alt="SnowboardImage" class="mx-auto d-block img-fluid" width="100%">

    <div class="container">
        <h1 class="homeTitle text-center">ALL TRICKS</h1>

        <section class="articles">
            <div class="row">
                    {% for trick in tricks %}
                        <div class="col-3">
                            <article>
                                <div class="content">
                                    <a href="{{ path('blog_show', {'id': trick.id}) }}"><img src="http://placehold.it/350x150" alt="" class="img-fluid"></a>
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <a href="{{ path('blog_show', {'id': trick.id}) }}"><h4>{{ trick.title }}</h4></a>
                                        </div>
                                        {% if app.user %}
                                            <div class="col-lg-2">
                                                <a href="{{ path('blog_edit', {'id': trick.id}) }}"><i class="fa fa-pencil"></i></a>
                                            </div>
                                            <div class="col-lg-2">
                                                <a href=""><i class="fa fa-trash"></i></a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
            </div>
        </section>
        <br />
    </div>
{% endblock %}
