{% extends 'base.html.twig' %}

{% block body %}
    <div class="main-text-center-banner">
        <img src="{{ asset('img/snowboard.jpg') }}" alt="SnowboardImage" class="mx-auto d-block img-fluid img-banner img-overlay">
        <a href="#trickList"><i class="down-arrow-icon fa fa-arrow-down"></i></a>
    </div>

    <div class="container">
        <h1 id="trickList" class="homeTitle text-center">All tricks</h1>

        <section class="articles">
            <div class="row">
                    {% for trick in tricks %}
                        <div class="col-sm-6 col-lg-3">
                            <article>
                                <div class="content">

                                    <a href="{{ path('blog_show', {'id': trick.id}) }}"><img src="{{ asset('img/' ~ trick.getFirstMediaImage ) }}" alt="" class="img-fluid"></a>

                                    <div class="row">
                                        <div class="col-sm-6 col-lg-8">
                                            <a href="{{ path('blog_show', {'id': trick.id}) }}"><h4>{{ trick.title }}</h4></a>
                                        </div>
                                        {% if app.user == trick.user or app.user and app.user.isAdmin == 1 %}
                                            <div class="col-sm-3 col-lg-2">
                                                <a href="{{ path('blog_edit', {'id': trick.id}) }}"><i class="fa fa-pencil"></i></a>
                                            </div>
                                            <div class="col-sm-3 col-lg-2">
                                                <a href="{{ path('blog_delete', {'id': trick.id}) }}" onclick="return confirm('Voulez vous supprimer ce trick?');"><i class="fa fa-trash"></i></a>
                                            </div>
                                        {% elseif app.user and app.user != trick.user %}
                                            <div class="col-sm-3 col-lg-2">
                                                <a href="{{ path('blog_edit', {'id': trick.id}) }}"><i class="fa fa-pencil"></i></a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </article>
                        </div>
                    {% endfor %}
            </div>

            <div class="load">
                <a class="btn btn-success" href="{{ path('home', {'limit': newLimit}) }}">Load more</a>
            </div>
        </section>
        <br />
    </div>

    <div id="scrollToTop"><a class="btn btn-default gotop" href="#"><i class="fa fa-home fa-2x"></i></a></div>
{% endblock %}
