{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<section class="articles">

    {% for trick in tricks %}
        <article>
            <h2>{{ trick.title }}</h2>
            <div class="metadata">Written the {{ trick.createdAt | date('d/m/Y') }} at {{ trick.createdAt | date('H:i') }} in the z category</div>
            <div class="content"><img src="http://placehold.it/350x150" alt="">
                {{ trick.description | raw }}
                <a href="{{ path('blog_show', {'id': trick.id}) }}" class="btn btn-primary">See more</a>
            </div>
        </article>
    {% endfor %}

</section>
{% endblock %}
