{%  extends 'base.html.twig' %}

{%  block body %}
    <div class="text-center-banner">
        <img src="http://placehold.it/1920x920" alt="" class="mx-auto d-block img-fluid img-banner img-overlay">
        {% if app.user == trick.user or app.user and app.user.isAdmin == 1 %}
            <div class="row-icon">
                <a href="{{ path('blog_edit', {'id': trick.id}) }}"><i class="iconShow fa fa-pencil"></i></a>
                <a href="{{ path('blog_delete', {'id': trick.id}) }}" onclick="return confirm('Voulez vous supprimer ce trick?');"><i class="iconShow fa fa-trash"></i></a>
            </div>
        {% endif %}
        <h2>{{ trick.title }}</h2>
    </div>
    <br />

    <div class="container">
    <div class="row">
        {% for media in trick.medias %}
            {% if media.type == 1 %}
                <div class="col-3">
                    <img class="mediaList" src="{{ media.content }}" />
                </div>
            {% elseif media.type == 2 %}
                <div class="col-3">
                    <iframe class="mediaList" src="{{ media.content }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            {% endif %}
        {% endfor %}
    </div>

        <article>
            <div class="content">
                <p class="trickDescription">{{ trick.description | raw }}</p>
            </div>
            <br />
            <div class="metadata italic text-center">Written the {{ trick.createdAt | date('d/m/Y') }} at {{ trick.createdAt | date('H:i') }} in the {{ trick.category.title }} category by {{ trick.user.username }}</div>
        </article>
        <hr />

        <section id="comments">
            {% if app.user %}
                {{ form_start(commentForm) }}
                {{ form_row(commentForm.content, {'attr': {'placeholder': "Your comment"}}) }}

                <button type="submit" class="btn btn-success">Comment</button>
                {{ form_end(commentForm) }}
            {% else %}
                <h5>Log in to comment!</h5>
                <a href="{{ path('security_login') }}" class="btn btn-primary">Log in</a>
            {% endif %}

            <hr />
            <h3>{{ trick.comments | length }} comments</h3>
            {% for comment in trick.comments %}
                <div class="comment">
                    <div class="row">
                        <div class="col-3">
                            <div class="row">
                                <div class="col-12 text-center">
                                    {{ comment.user.username }}
                                </div>
                                <div class="col-5 mx-auto d-block">
                                    <a href="{{ path('user_space', {'id': comment.user.id}) }}"><img src="{{ asset('img/' ~ comment.user.avatarImg) }}" alt="user avatar" class="img-fluid img-banner"></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="row">
                                <div class="col-12">
                                    <small>{{ comment.createdAt | date('d/m/Y') }} at {{ comment.createdAt | date('H:i') }}</small>
                                </div>
                                <div class="col-12">
                                    {{ comment.content | raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            {% endfor %}
        </section>
    </div>
{%  endblock %}