{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>{{ user.username }}'s space</h2>

        <div class="row">
            <div class="col-2">
                <img src="{{ asset('img/' ~ user.avatarImg) }}" alt="user avatar" class="mx-auto img-fluid img-banner">
            </div>
            <div class="col-10">
                <p>Nickname: {{ user.username }}</p>
                <p>First name: {{ user.firstName }}</p>
                <p>Last name: {{ user.lastName }}</p>
                <p>Member since {{ user.createdAt | date('d/m/Y') }}</p>
            </div>
        </div>

            {% if avatarForm is defined %}
                <hr />
                {{ form_start(avatarForm) }}

                {{ form_row(avatarForm.username) }}
                {{ form_row(avatarForm.avatarImg, {'attr': {'placeholder': "Pick a file"}}) }}

                <button type="submit" class="btn btn-success">Edit</button>
                {{ form_end(avatarForm) }}
            {% endif %}
    </div>
{% endblock %}