<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Snowtricks{% endblock %}</title>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">SnowTricks</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('home') }}">Home</a>
                    </li>
                    {% if not app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_login') }}">Log in</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_registration') }}">Register</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('blog_create') }}">Add a trick</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user_space', {'id': app.user.id}) }}">My space</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('security_logout') }}">Log out</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="container-fluid">
            {% block body %}{% endblock %}
            <div id="scrollToTop"><a class="btn btn-default gotop" href="#"><i class="fa fa-arrow-up fa-2x"></i></a></div>
        </div>
        {% block javascripts %}<script src="{{ asset('js/main.js') }}"></script>{% endblock %}
    </body>
</html>
